/*CSS Stylesheet for portfolio webpage - Created by Nigel John for UCF Bootcamp March 7, 2016*/

*{
	margin: 0;
}

html, body{
	height: 100%;
	margin: 10px 0 0 0 ;
}

.main, .wrapper{
	width: 960px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-image: url("worn_dots.png");	
}

.wrapper{
	margin: 0 auto -4em;
}

header{
	width: 960px;
	height: 65px;
	float: left;
	background-color: #ffffff;
	vertical-align: center;
}

h3, h4{
	color: #4aaaa5;
	font-family: font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 0 0 20px 0;
}

h2{
	font-size: xx-large;
}

h3{
	font-size: x-large;
}
h4{
	font-size: larger;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#name{
	width: 150px;
	height: 65px;
	float: left;
	margin: 0 495px 0 60px;
	line-height: 60px;
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	font-size: 
	font-family: font-family: 'Georgia', Times, Times New Roman, serif;
}

nav{
	width: 250px;
	float: left;
	text-decoration: none;
	margin: 10px 0 10px 0px;
	padding: 20px 0px 0 5px;
	background-color: white;
}

nav a{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: large;
	padding: 6px 6px;
	margin-right: 5px;
	border-radius: 3px;
}

a{
	border-radius: 3px;
	text-decoration: none;
}

.main{
	float: right;
	width: 960px;
	border-top: solid;
	border-color: #dddddd;	
}

section{
	float: left;
	width: 620px;
	height: 100%;
	margin: 20px 0px 10px 60px;
	padding: 20px 5px 0px 20px;
	background-color: #ffffff;
	color: #9e9e9e;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

section img{
	width: 250px;
	height: 175px;
	float: left;
	margin: 0px 20px 0px 0px;
}

aside{
	float: right;
	width: 200px;
	margin: 20px 30px 10px 10px;
	padding: 20px 5px 30px 5px;
	background-color: #ffffff;
	text-align:  center;
}

input{
	height: 30px;
	margin: 10px 0px 10px 0px;
	border-color: #dddddd;
	border-style: solid;
	width: 90%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

textarea{
	margin: 10px 0px 10px 0px;
	border-color: #dddddd;
	border-style: solid;
	width: 90%;
}

#button{
	color: white;
	background-color: teal;
	font-size: 14px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #4aaaa5;
	border-style: none;
	padding: 5px 30px 20px 30px;
	width: 100px;
}

footer, .push{
	height: 4em;
	clear: both;
}

footer{
	background-color: #666666;
	text-align: center;
	margin: 0 auto;
	width: 960px;
	border-top: solid;
	border-color: #4aaaa5;
	border-width: 6px;
	color: #d9d9d9;
	line-height: 50px;
	font-size: small;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.hangimg{
	position: relative;
	float: left;
	width: 250px;
	height: 175px;
	margin: 5px;
}

/*.hangimg img:hover{
	width: 255px;
	height: 180px;

}*/

.hangimg .hangcap{
	float: right;
	position: absolute;
	width: 250px;
	height: 50px;
	bottom: 0px;
	left: 0px;
	color: #ffffff;
	background: #4aaaa5;
	text-align: center;
	font-weight: bold;
	margin-bottom: 7px;	
}

/*Settings for screen resoultion 980px and below*/
@media screen and (max-width: 980px){
	
	body{
	background-color: blue;
}
.main .wrapper{
	width: 960px;
}

header{
	
	width: 960px;
	float: left;
}

#name{
	width: 150px;
	margin: 0 295px 0 100px; 
	float: left;
	
}

nav{
	width: 250px;
	margin: 10px 0px 10px 0px;
	float: left;
}

section{
	width: 400px;
	margin: 20px 0px 10px 100px;
	float: left;
}

section img{
	width: 370px;
	height: 175px;
}

.hangcap{
	width: 370px !important;
}

#secimg{
	float: none;
	margin: 0px 0px 0px 0px;
	height: 200px;
	width: 390px;
}

aside{
	width: 300px;
	margin: 20px 100px 10px 10px;
	float: left;
	text-align: center;
}

footer{
	width: 960px;
}

}

/*Settings for screen resoultion 786px and below*/
@media screen and (max-width: 768px){
	
	body{
	background-color: red;
}
.main, .wrapper{
	width: 750px;
}

header{
	
	width: 750px;
	float: left;
}

#name{
	width: 185px;
	margin: 0 290px 0 25px; 
	
}

nav{
	width: 150px;
	margin: 10px 90px 10px 0px;
	
}

section{
	width: 680px;
	margin: 20px auto;
	float: none;
	overflow: auto;	
}

/*section img{
	margin: 10px;
	width: 300px;
	height: 175px;
}*/

/*.portpic {
	width: 300px;
	height: 175px;

}*/

.hangcap{
	width: 320px !important;
}

.hangimg{
	width: 320px;
	height: 175px;
	margin: 10px;
}

.portpic{
	width: 320px;
	height: 175px;
	
	
}

aside{
	width: 695px;
	margin: 20px auto;
	float: none;
	text-align: left;
	clear: left;
}

footer{
	width: 750px;
	clear: both;
}

}

/*Settings for screen resoultion 640px and below*/

@media screen and (max-width: 640px){
	
	body{
	background-color: yellow;
}
.main, .wrapper{
	width: 600px;
}

header{
	
	width: 600px;
	float: left;
	height: 130px;
}

#name{
	width: 600px;
	margin: 0 300px 0 0; 
	
	
}

nav{
	width: 600px;
	margin: 10px 90px 10px 0px;
	text-align: center;

	
}

nav a{
	padding: 0px 70px;
}

section{
	width: 510px;
	margin: 20px auto;
	clear: left;
	float: none;
}

#secimg{
	float: none;
	width: 500px;
	height: 350px;
}

.portpic {
	width: 480px;
	height: 175px;
}

.hangcap{
	width: 480px !important;
	
}

aside{
	width: 525px;
	margin: 20px auto;
	float: none;
	text-align: left;
}

footer{
	width: 600px;
}

}


